body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e1e2f;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 300px;
  margin: 15px;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.06);
  background-color: blue;
}

.card img {
  width: 105%;
  height: 500px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card h3 {
  margin-top: 0;
}

.tag {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  margin-top: 10px;
}


  .botao-voltar {
    display: inline-block;
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
  }

  .botao-voltar:hover {
    background-color: #0300cc;
  }
